a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


.container {
 width: 1170px;
 margin: 0 auto;
}

.header-top {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 40px;
}

.header-bot {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list-item:not(:last-child) {
  margin-right: 45px;
}

.special-content {
  height: 540px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
}

.right {
  width: 50%;


}

